/* место для вашего кода */
header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  padding: 93px 50px 96px 50px;
}

.header__menu {
  justify-self: start;
  padding-bottom: 3px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 29px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 0px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 4px;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.link_underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.navigation_link {
  display: inline-block;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
}

.link_active {
  border: none;
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
}

.header__address {
  justify-self: end;
  justify-content: end;
}

.address-information {
  white-space: wrap;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width:100%;
  min-height: 100%;
  background-color: rgb(0 0 0 /.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 165px;
  margin-right: 50px;
  margin-left: 50px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_left {
  text-align: left;
  
}

.aligned-text_center {
  margin-top: 20px;
  margin-right: -30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 106px;
  margin: 0 50px 50px 50px;
  color: white;
}

.cover__description-text {
  width: auto;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: solid 1px currentColor;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.lots {
  position: relative;
  align-content: space-between;
  column-gap: 27px;
  margin: 180px 24px 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  column-gap: 25px;
  margin-top: 26px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  z-index: -1;
  min-height: 596px;
  color: white;
  font-size: 20px;
  background-position: center;
  background-size: cover;
}

.card-link {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;

}

.card__titles {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.card_title-underline {
  display: inline-block;
  line-height: 1;
  text-decoration-color: white;
}


.list-item-film {
  background-image: url(../images/card-lot-01.jpg);
}

.list-item-book {
  background-image: url(../images/card-lot-02.jpg);
}

.list-item-picture {
  z-index: 0;
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 48px 40px 48px 40px;
  
}

.card__text {
  margin-top: auto;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  width: auto;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  margin-top: 120px;
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
  
}

.about__column {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  column-gap: 72px;
  height: 100%;
}


.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__column-text {
  justify-content: flex-end;
  margin-top: 136px;
  margin-bottom: 0;
  
}

.about__title {
  align-self: end;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  overflow-wrap: break-word;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-right: 50px;
  margin-left: 50px;
}

.footer__grid-element {
  justify-self: center;
}

.adress-footer {
  justify-self: start;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  column-gap: 48px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.footer__list {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}